extends layout

include _includes/sharedHTMLfunctions

block content
  .row
      .col-md-8
        .row
          .col-md-12
            img.img-responsive.pad.no-padding(src='/dist/img/photo2.png', alt='Photo')
          .col-md-12
            .box.box-success
              .box-body
                .user-block
                  img.img-circle(src='/../dist/img/user1-128x128.jpg', alt='User Image')
                  span.username
                    a(href='#')= publish.user_name
                  span.description Publico - HOY a las 7:30 PM
                ul.list-inline
                  li
                    a.link-black.text-sm(href='#')
                      i.fa.fa-share.margin-r-5
                      |  Compartir
                  li
                    a.link-black.text-sm(href='#')
                      i.fa.fa-thumbs-o-up.margin-r-5
                      |  Like
                  li.pull-right
                    a.link-black.text-sm(href='#')
                      i.fa.fa-comments-o.margin-r-5
                      |  Comentarios
                      |                                                     (5)
      .col-md-4
        .col-md-12
          .box.panel.panel-default
            .box-header.panel-heading
              h3.box-title= song.titulo
            .box-body
              table.table.table-condensed
                tr
                  th GENERO
                  td
                    span.badge.bg-red= song.genres
                tr
                  th ALBUM
                  td
                    span.badge.bg-yellow= song.album
                tr
                  th INTERPRETE
                  td
                    span.badge.bg-light-blue= song.autor

        .col-md-12
          each commenta in publish.comments
            .box-footer.box-comments
              .box-comment
                img.img-circle.img-sm(src='/dist/img/user4-128x128.jpg', alt='User Image')
                .comment-text
                  span.username
                    |#{commenta.user_name}
                    span.text-muted.pull-right
                      +formatDate(commenta.date)
                  | #{commenta.post}
                  button.btn.btn-box-tool.pull-right(type='button', data-widget='remove')
                    i.fa.fa-edit
                  button.btn.btn-box-tool.pull-right(type='button', data-widget='remove')
                    i.fa.fa-remove


          .box-footer
            form(action='/detalle/#{publish._id}/comment', method='post', role='form')
              img.img-responsive.img-circle.img-sm(src='/dist/img/user4-128x128.jpg', alt='Alt Text')
              .img-push
                input.form-control.input-sm(type='text', name="user_name"  ,placeholder='Press enter to user save' )
                input.form-control.input-sm(type='text', name="post", placeholder='Press enter to post comment')
              button.btn.btn-default(type='submit', value='enviar')
//todo
//  quitar PAIS
//  poner dinamico
//
